@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loading {
    0% {
        transform: translateX(-150%);
    }
    50% {
         transform: translateX(-60%);
    }
    100% {
        transform: translateX(150%);
    }
}

@keyframes shimmer {
    0% {
        transform: translateX(-150%) skewX(-12deg);
    }
    100% {
        transform: translateX(150%) skewX(-12deg);
    }
}
